services:
  web:
    build: ./frontend
    ports:
      - 3000:3000
  api:
    build: ./backend
    ports:
      - 3001:3001
    environment:
      DB_URL: mongodb://db/vidly
  db:
    image: bitnami/mongodb:latest
    ports:
      - 27017:27017
    volumes:
      - vidly:/data/db

volumes:
  vidly:
